@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vagas de Ensino Online</h1>
    <p>Explore as melhores vagas de ensino online do mundo.<br>Inicie uma nova jornada de estudos em casa ou de qualquer lugar do mundo</p>
    <a href="/Identity/Account/Register" class="btn btn-primary">Entrar como aluno</a>
    <a href="/Identity/Account/RegisterTutor" class="btn btn-primary">Entrar como professor</a>
</div>
