@model nickolas_mendonca_feed_aluno.Models.Usuario

@{
    ViewData["Title"] = "Novo Usuario";
}

<h1>Adicionar novo Usuario</h1>

<h4>Dados do usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsuario" class="control-label"></label>
                <select asp-for="TipoUsuario" class="form-control" asp-items="Html.GetEnumSelectList<TipoUsuario>()"></select>
                <span asp-validation-for="TipoUsuario" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <a class="btn btn-sm btn-outline-warning" asp-action="Index">Retornar</a>
                <input type="submit" value="Adicionar" class="btn btn-sm btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
